{% extends 'main/layout.html' %}
{% block title %}Новости{% endblock %}
{% block content %}
    <div class = "features">
        <h1>Новости на сайте</h1>
        {% if news %}
            {% for i in news %}
                <div class="alert alert-danger">
                    <h3>{{ i.title }}</h3>
                    <p>{{ i.anons }}</p>
                    <a href="{% url 'news-detail' i.id %}" class="btn btn-warning">Детальнее</a>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="alert">Нет Новостей =(</h3>
        {% endif %}
    </div>
{% endblock %}